<!--This CustomLayout uses inline styles.-->
<table align="center" cellspacing="10"
	style="width: 646px; height: 100%; color: #fff; padding: 20px;
	background: #31629E repeat-x">
	<tr>
		<td colspan="2">
		<h1 style="margin-top: 0;">Login</h1>
		<td>
	</tr>
	<tr>
		<td align="right">Bneutzername:</td>
		<td>
		<div location="username"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Kennwort:</td>
		<td>
		<div location="password"></div>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2" style="width: 456px; ">
		<div location="okbutton" style="width: 154px; padding-right: 10px; padding-left: 10px; padding-top: 10px; height: 17px; padding-bottom: 10px; color: #FFFFFF"></div>
		</td>
	</tr>
	<tr style="width: 549px; ">
		<td colspan="2" style="padding: 7px; background-color: #4172AE; width: 420px">
		<img align="absbottom" src="../../mits/icons/64/lock.png" /> 
		<!--This information is in the layout.  -->
		<td style="width: 3px; ">
	</tr>
</table>