<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionJRS">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jrsdbmysql</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">jrsdbmysql</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>

        <mapping resource="com/jrsii/entities/Benutzer.hbm.xml" />
        <mapping resource="com/jrsii/entities/Adressen.hbm.xml" />
        <mapping resource="com/jrsii/entities/Adressgruppen.hbm.xml" />
        <mapping resource="com/jrsii/entities/Adressgruppenverweise.hbm.xml" />
        <mapping resource="com/jrsii/entities/Anschriften.hbm.xml" />
        <mapping resource="com/jrsii/entities/Verbindungen.hbm.xml" />
    </session-factory>
</hibernate-configuration>
